<!DOCTYPE html>
<html ng-app="lmsApp" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/bindonce.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript">
      function rotateAd() {
        var randomIndex = Math.floor(Math.random() * 33);
        document.getElementById("adimage").src = "img/"+randomIndex+".png";
      }
      function startTimer() {
        setInterval(rotateAd, 7000);
      }

    </script>

  </head>
  <body onload="startTimer()">

    <ion-pane>

    <ion-content ng-controller="lmsAppCtrl">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="data.queryStr" type="Search" placeholder="Search" ng-minlength="3"/>
          </label>
          </div>
        <div class="">
          <p align="center"><img ng-show="!data.queryStr.length" width="66%" src="img/lmslogo.png"/></p>
        </div>
      <ion-list>
        <ion-item bindonce ng-repeat="resident in residents | filter:data.queryStr | orderBy:lastname" class="item item-button-right" ng-show="data.queryStr.length" > 
          <h2>{{resident.firstname}} {{resident.lastname}} {{resident.phone}}</h2>
          <p>{{resident.address}}</p>
          <button ng-href="tel:+1-{{resident.phone}}" class="button button-positive">
            <i class="icon ion-ios7-telephone"></i>
          </button>
        </ion-item>
      </ion-list>
      </ion-content>
        <div class="bar bar-footer bar-stable">
          <img id="adimage" src="img/0.png" />
          <!--<script type="text/javascript">
              document.write(rotateAd());
          </script>
          -->
        </div>
    </ion-pane>
  </body>
</html>
