<!DOCTYPE html>
<html ng-app="lmsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>LMS Directory</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/addtohomescreen.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/bindonce.js"></script>

    <!-- add to homescreen lib -->
    <script src="js/addtohomescreen.js"></script>
    <script>
    addToHomescreen({
       skipFirstVisit: false,
       maxDisplayCount: 3
    });
    </script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript">
    var links = [ "http://www.thehaistengroup.com/", 
          "http://www.chattanoogapropertyinfo.com/", 
          "http://walldorf.com/", 
          "http://robinsonteam.yourkwagent.com/", 
          "http://mtnviewford.com/", 
          "http://www.mrtspizza.com/", 
          "http://www.learningexpress.com/store/chattanooga/", 
          "http://hhmcpas.com/", 
          "http://www.hennens.net/", 
          "http://www.gailjhomes.com/", 
          "http://www.demosscapital.com/", 
          "http://www.chattanoogaallergyclinic.com/", 
          "http://www.bowersag.com/", 
          "http://www.ehhlaw.com/", 
          "http://fletcherbright.com/", 
          "http://www.vincentprinting.com/", 
          "http://www.hsgcpa.com/", 
          "http://www.wingfieldscale.com/", 
          "https://synthesislife.com/", 
          "http://www.southernsurgicalarts.com/", 
          "https://www.facebook.com/pages/The-Sandbox-Childrens-Boutique/154085097976225", 
          "http://resultsphysiotherapy.com/", 
          "http://www.mccallie.org/", 
          "http://www.mountainmirror.com/", 
          "http://www.laurentempletoninvestments.com/", 
          "https://www.firsttennessee.com/", 
          "http://dbscorporation.com/", 
          "http://www.drcarico.com/", 
          "http://www.baylorschool.org/", 
          "http://www.alpinecamp.com/", 
          "http://www.gps.edu/" ];

      function rotateAd() {
        var randomIndex = Math.floor(Math.random() * 33);
        document.getElementById("adimage").src = "img/"+randomIndex+".png";
        document.getElementById("adlink").href = links[randomIndex];
      }
      function startTimer() {
        setInterval(rotateAd, 7000);
      }

    </script>
  </head>
  <body onload="startTimer()">

    <ion-pane>

    <ion-content ng-controller="lmsAppCtrl">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="data.queryStr" type="Search" placeholder="Search" ng-minlength="3"/>
          </label>
          </div>
        <div class="">
          <p align="center"><img ng-show="!data.queryStr.length" width="66%" src="img/lmslogo.png"/></p>
        </div>
      <ion-list>
        <ion-item bindonce ng-repeat="resident in residents | filter:data.queryStr | orderBy:lastname | limitTo:15 track by resident.id" class="item item-button-right" ng-show="data.queryStr.length" > 
          <h2>{{resident.firstname}} {{resident.lastname}} </h2>
          <p>{{resident.address}}</p>
          <a align="right" class="button icon-right ion-ios7-telephone button-calm button-outline" ng-href="tel: {{resident.phone}}">{{resident.phone}}</a>
        </ion-item>
      </ion-list>
      </ion-content>
        <div class="bar bar-footer bar-stable">
          <a href="#" id="adlink"><img id="adimage" src="img/0.png"/></a>
          <!--<script type="text/javascript">
              document.write(rotateAd());
          </script>
          -->
        </div>
    </ion-pane>
  </body>
</html>
